.banner-item{
    background-image: url('../resources/Banner\ Image.png');

    margin: 50px 140px 120px 140px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    
}
.benner-hedding{
    color:#d3c3c3 ;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    padding-top: 150px;
    margin-bottom: 0px;
}
.benner-titel{
    color: #fadada;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding:0px 345px 200px 345px ;
    margin-top: 0px;
}
.discaunt-continar{
    text-align: center;
    margin: 120px 250px;
}
.discaunt{
    color: #f00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 10px;
}

.condition{
    font-size: 24px;
    font-weight: 500;
    color: #f00;


}
.header-footer-headding{
    color:#070211 ;
    font-size: 48px;
    font-weight: 700;
}
.main-up-contranir{
    background-image: url('../resources/Vectorrr.png');
    margin: 0px 140px;
    width:1320px ;
    height: 600px;
    display: flex;
    justify-content: space-between
;

    
    
}

.main-up-part{
    padding-top: 100px;
    padding-left: 126px;
    padding-right: 300px;
}

.main-up-headding{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;

}

.main-up-description{
    color: rgba(255, 255, 255, 0.80);

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.main-up-ancor{
    text-decoration: none;
    text-align: center;
    color:#FFF ;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 130px;
}

.main-up-2024{

    align-items: center;
    padding: 65px 130px 65px 10px;

}
.main-mid-contriner{
    margin: 120px 140px;
    text-align: center;
    text-transform: capitalize;
    background-color:#fadada;
    width: 1320px;
    height: 300px;
    padding-top: 100px;
    padding-bottom: 110px;
    border-radius: 10px;
   
}
.mid-main-text{
    margin-bottom: 8px;
    color: #f00;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}
.mid-span{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.mid-main-btn{
    border-radius: 8px;
    background: #f00;
    color: white;
    gap:10px;
    padding: 16px 32px;
    border: none;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
}
.coming-soon-contranir{
    display: flex;
    margin: 120px 140px;
    justify-content: space-around;
}
.coming-soon-colum-1st{
    width: 33%;
    padding-top: 100px;
    margin-right: 70px;
}
.coming-soon-titel{
    color: #f00;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.coming-soon-hedding{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
    margin-top: 0px;

}
.coming-soon-colum-1st-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.coming-soon-colum-2nd{
    border: 3px;
    border-color: #f00;
    border-radius: 10px;
}
.coming-soon-colum-3rd{
    margin-left: 100px;
    width: 33%;
    margin-right: 140px;
}
.coming-soon-year{
    color: #f00;
    font-size: 48px;
    font-weight: 700;
}
.coming-soon-colum-2nd-description{
   color: rgba(7, 2, 17, 0.60);
   font-size: 20px;
   font-weight: 400;
   line-height: 32px;
   margin-bottom: 43px;
}